.img_cub {
  grid-area: img_cub;
  margin-left: 20%;
}
.title1 {
  grid-area: title1;
}
.text1 {
  grid-area: text1;
}
.img_time {
  grid-area: img_time;
}
.title2 {
  grid-area: title2;
}
.text2 {
  grid-area: text2;
}
.img_money {
  grid-area: img_money;
}
.title3 {
  grid-area: title3;
}
.text3 {
  grid-area: text3;
}
.img_sofa {
  grid-area: img_sofa;
  margin-left: 20px;
}
.title4 {
  grid-area: title4;
}
.text4 {
  grid-area: text4;
}
.img_people {
  grid-area: img_people;
}
.title5 {
  grid-area: title5;
}
.text5 {
  grid-area: text5;
}
.img_house {
  grid-area: img_house;
}
.title6 {
  grid-area: title6;
}
.text6 {
  grid-area: text6;
}
